*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------- Guillotina ------- */

.container-guillotine{
    background: url('./img/imagenes_guillotina/fondo_1.jpg') center/cover;
    height: 100vh;
    width: 100vw;
}

.container-hands{
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
}

.spectators-shadow{
    width: 100%;
}

.blade-blood{
    position: absolute;
    right: 92px;
    top: 168px;
    width: 150px;
}

.guillotine-blade{
    background: url('./img/imagenes_guillotina/guillotina_sola.png') center/contain no-repeat;
    height: 90%;
    width: 400px;
    margin: auto;
    position: relative;
}

.blade img:first-of-type{
    width: 192px;
    position: absolute;
    right: 72px;
    top: 135px;
}

.guillotine{
    background: url('./img/imagenes_guillotina/escenario.png') center/contain no-repeat;
    height: 90%;
}

.head-sacrifice{
    position: absolute;
    width: 210px;
    bottom:5px;
    right: 5.5px;
}